
/*--Importar las tipografías de Google--*/
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,300;1,500&family=EB+Garamond:ital,wght@0,400;1,500&family=Kanit:wght@100;300;400&family=Lato:wght@300;400&family=Libre+Baskerville&family=Poppins:wght@300;500&family=Roboto+Condensed:wght@400;700&display=swap');


/*--Eliminar los márgenes--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--PLANTILLA (GRID) DE LA PÁGINA WEB--*/
/*
.grid-principal{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 115px auto 280px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}

/**----Estilo del HEADER (AFECTA A TODAS LAS PÁGINAS WEB)---*/

/*--MODIFICACIÓN DE TODO EL HEADER--*/
header nav{
    background: rgb(204,125,32);
    background: linear-gradient(90deg, rgba(204,125,32,1) 5%, rgba(255,186,0,1) 79%);
}

header nav div h1{
    color: rgb(222, 215, 215);
    font-size: 30px;
    border: 5px solid black;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}

header nav a img {
    width: 50px;
    height: 50px;
}

header nav div div ul li{
    font-style:oblique;
    margin:30px;
    border:3px solid brown;
    background-color: #750202be;
    transition: 0.8s;
}

header nav div div ul li:hover{
    background-color: rgb(209, 168, 80);
}



/*?----Estilo del MAIN (VARIA DE ACUERDO A LA PÁGINA WEB)---*/

/*!----Modificación del MAIN dentro de la página del "Index"---*/



/*--HERO SECTION--*/

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(246, 131, 43,0.977);
}

.hero h2{
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    color:rgba(246, 131, 43,0.977);
    animation: move 3s ease-in-out infinite;
    margin-top: 25px;
}

@keyframes move{
    0%{
        transform: translate(-20%,0);
    }
    50%{
        color: #EEEEEE;
        text-shadow: 0 25px 50px #000000;
    }
    100%{
        transform: translate(20%,0);
    }
}


.hero img{
    width: 50%;
    height: 55vh;
    margin:10px 15px;
}

/*--SECCIÓN ¿QUIENES SOMOS?--*/
.qs{
    padding: 30px;
    background-color: bisque;
    align-items:  center;
}

.qs div h2{
    font-family: 'Libre Baskerville', serif;
    margin-top: 15px;
    font-size: 35px;
    text-align: center;
    color: rgb(200, 75, 75);
}

.qs div p{
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
    text-align:justify;
    color: rgb(171, 45, 70);
}

.qs img{
    width: 100%;
    height: 40vh;
    border: 4px solid rgb(168, 56, 56);
}

/*--SECCIÓN CULTURA CERVECERA--*/
.ccervecera{
    color: rgba(77, 52, 5, 0.985);
    text-align: center;
    background: linear-gradient(rgba(144, 139, 139, 0.621),rgba(233, 223, 223, 0.628)), url("../img/cultura.jpg");   
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

.ccervecera h2{
    font-size: 35px;
    border: 3px solid rgba(96, 55, 0, 0.836);
    padding: 3px;
}

.ccervecera p{
    font-size: 25px;
}

.ccervecera a{
    text-decoration: none;
    color: rgb(10, 10, 162);
    font-weight:bolder;
    background-color: aliceblue;
    padding: 8px 10px;
    margin-bottom: 3px;
    transition: 1s;
}

.ccervecera a:hover{
    color: brown;
    background-color: rgb(6, 13, 11);

}

/*--SECCIÓN PRODUCTOS--*/

.productos h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align:center;
    color: #FFFFFF;
    background: #6f6464;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    border: 3px solid black;
    padding: 15px;
}

.productos .productos-bloque{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos .productos-bloque h3{
    margin-top: 5px;
}

.productos .productos-bloque div{
    border: 5px solid rgba(191, 80, 93, 0.765);
    width: 260px;
    height: 260px;
    margin: 30px;
    text-align:center;
    transition: 1.3s;
}

.productos .productos-bloque div:hover{
    transform: scale(1.1);
    border: 5px solid rgb(2, 1, 1);
    box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.78);
    -webkit-box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.78);
    -moz-box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.78);
}

.productos .productos-bloque div img{
    width: 250px;
    height: 155px;
}


.productos .productos-bloque div a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: rgb(97, 0, 0);
    background-color: rgb(207, 217, 243);
    border: 1px solid rgb(81, 46, 4);
    padding: 2px;
    transition: 1s;
}

.productos .productos-bloque div a:hover{
    color: rgb(87, 145, 221);
}

/*--SECCIÓN NOVEDADES--*/

.novedades h2{
    text-align: center;
    color: #444444;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    background-color: azure;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    border: 1px dashed black;
}

.novedades .novedades-bloque{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.novedades .novedades-bloque h3{
    margin: 3px;
    font-size: 20px;
}

.novedades .novedades-bloque p{
    font-size: 15px;
    margin: 3px;
}

.novedades .novedades-bloque div{
    border: 5px solid rgba(191, 80, 93, 0.765);
    width: 300px;
    height: 370px;
    margin: 35px;
    text-align:center;
    transition: 1.2s;
}

.novedades .novedades-bloque div:hover{
    transform: scale(1.1);
    border: 5px solid rgb(1, 32, 232);
    box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.78);
    -webkit-box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.78);
    -moz-box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.78);
}

.novedades .novedades-bloque div img{
    width: 250px;
    height: 170px;
    margin: 2px;
}

.novedades .novedades-bloque div a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: rgb(97, 0, 0);
    background-color: rgb(193, 172, 119);
    border: 1px solid rgb(170, 99, 12); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    transition: 1s;
}

.novedades .novedades-bloque div a:hover{
    color: #F00;
    background-color: #444444;
}

/*!----Modificación del MAIN dentro de la página "¿Quiénes somos?"---*/

/*--SECCIÓN NOSOTROS--*/
.nosotros h2{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: brown;
    color: lightyellow;
    text-align:center;
    padding: 10px;
}

.nosotros p{
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    color: rgb(117, 117, 241);
    text-align: center;
    margin: 20px 40px;
}

/*--SECCIÓN PROCESO--*/
.proceso{
    color: rgba(255, 246, 230, 0.836);
    text-align: center;
    background: linear-gradient(rgba(120, 42, 42, 0.545),rgba(85, 34, 34, 0.493)),url("../img/historia.png");
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}

.proceso h2{
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    border: 2px solid  rgba(255, 246, 230, 0.836);
    padding: 20px;
}

.proceso p{
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    margin-bottom:30px;
    font-size: 20px;
}

/*--SECCIÓN MOTIVO--*/
.motivo .motivo-bloque{
    display: flex;
    justify-content: center;
    align-items: center;
}

.motivo h2{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: brown;
    color: lightyellow;
    padding: 5px;
}

.motivo img{
    width: 50%;
    height: 25vh;
    margin: 15px 20px;
}

.motivo .motivo-bloque h3{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    background-color: brown;
    color: lightyellow;
    margin: 15px;
}

.motivo .motivo-bloque p{
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    font-size: 15px;
    margin: 15px;
}

/*!----Modificación del MAIN dentro de la página "Cultura Cervecera"---*/

/*--SECCIÓN CULTURA--*/
.cultura{
    color: rgba(203, 154, 208, 0.836);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(36, 29, 9, 0.883),rgba(217, 189, 158, 0.397)),url("../img/cc.jpg");
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}

.cultura h2{
    font-size: 35px;
    text-align: center;
    font-style: oblique;
    color:  rgba(157, 0, 0, 0.836);
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}

.cultura p{
    font-size: 20px;
    text-align:center;
    font-style: italic;
    padding: 3px;
}

/*--SECCIÓN PERFIL--*/
.perfil h2{
    font-size: 50px;
    background-color: dimgray;
    color: antiquewhite;
    font-style: italic;
    font-weight: bolder;
    padding: 5px 9px;
}


/*--SECCIÓN PERFIL (GRID)--*/
.grid-perfil{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-auto-rows: 300px;
    gap: 15px;

}

.grid-perfil div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 29px 11px rgba(219,212,161,0.75);
    -webkit-box-shadow: 10px 10px 29px 11px rgba(219,212,161,0.75);
    -moz-box-shadow: 10px 10px 29px 11px rgba(219,212,161,0.75);
    transition: 0.7s;
}

.item-2{
    grid-column: span 2;
}

.item-3{
    grid-column: span 2;
}

.item-4{
    grid-row: span 2;
}

.grid-perfil div img:hover{
    transform: scale(0.9);
}

/*!----Modificación del MAIN dentro de la página "Productos"---*/

.pts h2{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align:center;
    color: rgb(61, 163, 186);
    background-color: rgb(78, 78, 78);
    border: 3px solid black;
    padding: 10px;
}
.pts p{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin: 5px 10px;
}

.pts .pts-bloque{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pts .pts-bloque h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100;
    color: rgb(16, 70, 42);
}

.pts .pts-bloque p{
    font-size: 15px;
}

.pts .pts-bloque div{
    border: 5px solid rgba(22, 58, 142, 0.765);
    width: 260px;
    height: 350px;
    margin: 40px;
    text-align:center;
    transition: 1s;
}

.pts .pts-bloque div:hover{
    transform: scale(1.1);
    border: 5px solid rgba(218, 171, 15, 0.765);
    box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.78);
    -webkit-box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.78);
    -moz-box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.78);
}

.pts .pts-bloque div img{
    width: 250px;
    height: 190px;
}


.pts .pts-bloque div a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: rgb(13, 0, 112);
    background-color: rgb(207, 217, 243);
    border: 1px solid rgb(81, 46, 4);
    padding: 1px;
    transition: 1s;
}

.pts .pts-bloque div a:hover{
    color:#ff0;
    background-color: black;
}

/*!----Modificación del MAIN dentro de la página "Novedades"---*/

.grid-novedades{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 15px;
    margin: 9px 10px;
}

.grid-novedades div img{
    width: 58%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 6px 12px -2px rgba(112,136,171,0.9);
    -webkit-box-shadow: 5px 6px 12px -2px rgba(112,136,171,0.9);
    -moz-box-shadow: 5px 6px 12px -2px rgba(112,136,171,0.9);
    transition: 3s;
}

.grid-novedades .grid-nov{
    grid-column: span 3;
}

.grid-nov div h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.grid-nov div p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 17px;
    text-align: center;
    margin: 15px;
    color: rgb(141, 1, 1);
}

.grid-novedades div img:hover{
    transform: rotateZ(360deg);
}

.nov-1{
    font-size: 15px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.nov-2{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nov-3{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*!----Modificación del MAIN dentro de la página "Contacto"---*/

.form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 15px;
    background-color: rgba(255,255,255,0.8);
}

.all-inputs{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.all-inputs div{
    margin: 10px auto;
    width: 48%;
    position: relative;
}

.all-inputs div input, textarea{
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid black;
    transition: 0.5s;
    background: transparent;
}

.all-inputs div input:focus, textarea:focus{
    border: 2px solid blue;
}

textarea{
    margin: auto;
    height: 120px;
}

button{
    width: 200px;
    padding: 5px;
    border: 2px solid black;
    font-size: 20px;
    margin-top: 20px;
    justify-items: center;
}

@media screen and(max-width:720px) {
    .all-inputs div{
        width: 100%;
    }
    
}

/*!----Estilo del FOOTER (AFECTA A TODAS LAS PÁGINAS WEB)---*/

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 207, 137);
    border: 2px solid black;
    grid-area: footer;
}

/*--SECCIÓN PRINCIPAL FOOTER (CONTÁCTANOS Y LOGO)--*/
.ft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ft h2{
    text-align: center;
    margin-bottom: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: rgb(82, 22, 22);
}

.ft img{
    width: 50px;
    height: 55px;
}

/*--SECCIÓN DEL CONTACTO (UBICACIÓN, TELÉFONO, MAIL)--*/
.contacto{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 15px 10px;
}

.contacto img{
    width: 35px;
    height: 35px;
    margin: 5px;
    padding: 3px;
}

.contacto-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-telefono{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-email{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--SECCIÓN REDES (IG, FB, TWITTER)--*/
.redes h2{
    color: rgb(121, 90, 34);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: center;
}

.redes div{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 15px;
}

.redes div img{
    width: 90%;
    height: 5vh;
    transition: 1.2s;
}

.redes div img:hover{
    transform: scale(1.2);
}


/*!----MEDIA QUERY (RESPONSIVE)---*/

/*--RESPONSIVE PARA DISPOSITIVO ELECTRÓNICO COMO TABLET DEL HEADER, AFECTA A TODAS LAS PÁGINAS WEB--*/


/*--RESPONSIVE PARA DISPOSITIVO MÓVIL (CELULAR) DEL INDEX--*/

@media screen and (max-width:720px) {
    .grid-principal{
        grid-template-columns: 1fr ;
        grid-template-rows: 610px auto 590px;
        grid-template-areas:
        "header"
        "main"
        "footer"
        ;
    }
    .header{
        flex-direction: column;
        justify-content: space-between;
    }
    .header nav ul{
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
    }
    .hero img{
        width: 50%;
        height: 45%;
    }
    .qs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .qs img{
        width: 60%;
        height: 55%;
    }
    .ccervecera h2{
        font-size: 25px;
    }
    .ccervecera p{
        font-size: 15px;
    }
    .footer{
        flex-direction: column;
    }
    .ft{
        margin-top: 20px;
    }
    .contacto {
        align-items: center;
    }
    .redes div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/*--RESPONSIVE DE LA PÁGINA "¿QUIÉNES SOMOS? PARA DISPOSITIVO MÓVIL (CELULAR)--*/

@media screen and (max-width:720px) {
    .proceso h2{
        font-size: 25px;
    }
    .proceso p{
        font-size: 14px;
    }
    .motivo .motivo-bloque{
        flex-direction: column;
    }
    .motivo .motivo-bloque img{
        width: 170px;
        height: 170px;
    }
}

/*--RESPONSIVE DE LA PÁGINA "CULTURA CERVECERA" PARA DISPOSITIVO MÓVIL (CELULAR)--*/

@media screen and (max-width:720px) {
    /*--RESPONSIVE PARA DISPOSITIVO MÓVIL (CELULAR) DEL GRID DENTRO DE LA PÁGINA "CULTURA CERVECERA"--*/

    .cultura h2{
        font-size: 20px;
    }
    .cultura p{
        font-size: 15px;
    }

    .perfil h2{
        font-size: 20px;
    }
    .grid-perfil{
        grid-template-columns: 1fr;
    }
    .grid-item{
        grid-column: span 2;
        grid-row: span 1;
    }
    .item-2{
        grid-column: span 2;
    }
    .item-3{
        grid-column: span 2;
    }
    .item-4{
        grid-row: span 1;
    }
}

/*--RESPONSIVE DE LA PÁGINA "PRODUCTOS" PARA DISPOSITIVO MÓVIL (CELULAR)--*/
/*--NA, SE USÓ UN WRAP--*/

/*--RESPONSIVE DE LA PÁGINA "NOVEDADES" PARA DISPOSITIVO MÓVIL (CELULAR)--*/
@media screen and (max-width:720px) {
    .grid-novedades{
        grid-template-columns: 1fr;
    }
    .grid-nov div{
        margin-top: 15px;
    }
    .grid-novedades .grid-nov {
        grid-row: span 2;
        flex-direction: column;
        margin: 10px;
    }
}
    
/*--RESPONSIVE DE LA PÁGINA "CONTACTO" PARA DISPOSITIVO MÓVIL (CELULAR)--*/



