/*-----HEADER-----*/

header{
    nav{
        background: rgb(204,125,32);
        background: linear-gradient(90deg, rgba(204,125,32,1) 5%, rgba(255,186,0,1) 79%);
        div{
            h1{
                color: rgb(222, 215, 215);
                font-size: 30px;
                border: 5px solid black;
                font-style: italic;
                font-family: Georgia, 'Times New Roman', Times, serif;
                padding: 5px;
            }
            a{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            div{
                ul{
                    li{
                        font-style:oblique;
                        margin:30px;
                        border:3px solid brown;
                        background-color: #750202be;
                        transition: 0.8s;
                        &:hover{
                            background-color: rgb(209, 168, 80);
                        }
                    }
                }
            }
        }
    }
}