/*--Importar las tipografías de Google--*/
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,300;1,500&family=EB+Garamond:ital,wght@0,400;1,500&family=Kanit:wght@100;300;400&family=Lato:wght@300;400&family=Libre+Baskerville&family=Poppins:wght@300;500&family=Roboto+Condensed:wght@400;700&display=swap');


/*--Eliminar los márgenes--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}